# Ignore build and IDE folders
bin/
obj/
.vs/
*.user
*.suo

# Logs
*.log

# NuGet packages
packages/
*.nupkg
*.snupkg

# Backup and temp files
*.bak
*.tmp
*.cache

# Publish or output
/out/
/publish/

/*.dll
/*.exe
/*.pdb

# Firebase credentials (important)
serviceAccountKey.json
