# Build outputs
bin/
obj/

# Visual Studio files
.vs/
*.user
*.suo

# Logs
*.log

# Packages
packages/
*.nupkg
*.snupkg

# Backup files
*.bak

# Temporary files
*.tmp
*.cache

# Publish folders
/publish/
/out/
